@model Proyecto_Cartilla_Autocontrol.Models.DETALLE_CARTILLA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DETALLE_CARTILLA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estado_otec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_otec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_ito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_ito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVIDAD.codigo_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVIDAD.codigo_actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARTILLA.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARTILLA.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INMUEBLE.tipo_inmueble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INMUEBLE.tipo_inmueble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_VERIF.elemento_verificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_VERIF.elemento_verificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.detalle_cartilla_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
