@model Proyecto_Cartilla_Autocontrol.Models.USUARIO

@{
    ViewBag.Title = "Create";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Supervisor")
{
    Layout = "~/Views/Shared/_Layout_Supv.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Supervisor")
{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/Content/css/perfil.css">

    <div class="profile-container">
        <div class="profile-header">
            <h1>Mi Perfil</h1>
        </div>
        <div class="profile-content">
            <!-- Utiliza un icono de FontAwesome -->
            <div class="user-icon"><i class="fas fa-user"></i></div>
            @foreach (var usuario in ViewBag.InformacionUsuarios)
            {
                <div class="user-info">
                    <h2>@usuario.PERSONA.nombre @usuario.PERSONA.apeliido_paterno</h2>
                    <p><strong> Tipo de Perfil: </strong>  Supervisor </p>
                    <p><strong> Correo:  </strong>@usuario.PERSONA.correo </p>
                    <p><strong> Obras que tienes Acceso: </strong></p>
                    <ul>
                        @foreach (var obra in ViewBag.ObrasAcceso)
                        {
                            <li>@obra.nombre_obra</li>
                        }
                    </ul>
                </div>
            }
            <br />
            <a href="@Url.Action("ListaCartillasSupervisor", "CartillasAutocontrolFiltrado")" class="VerCartilla">
                <i style="color: black; font-size: 30px;" class="material-icons" data-toggle="tooltip" title="Ir a Cartillas de Autocontrol">&#xE879;</i>
                <span style="display: none;">VerCartilla</span>
            </a>
        </div>
    </div>
    <script>
 // Script para manejar la expiración de la sesión
 setTimeout(function () {
     window.location.href = '@Url.Action("Login", "Account")';
 }, 43200000); // 12 horas en milisegundos
    </script>
}
else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Perfil de Supervisor</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}
