<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Cartilla Autocontrol</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/layout.css">
    <link rel="stylesheet" href="~/Content/css/menu.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <!-- Incluye el archivo de lenguaje de DataTables en español -->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("css", required: false)
</head>
<body>
    <header>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark custom-menu-bg">
            <div class="container">
                <a class="navbar-brand" href="#">Sistema de Cartilla Autocontrol</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Obras</a>
                            <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Obra/Index">Gestionar Obras</a></li>
                                <li><a class="dropdown-item" href="/Responsable/Index">Responsables de Obra</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="/Actividad/Index">Actividades</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cartillas</a>
                            <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Cartilla/Index">Gestión de Cartillas </a></li>
                                <li><a class="dropdown-item" href="/DetalleCartilla/Index">Detalle Cartillas</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <i class="fa fa-user icono-usuario"></i>
                            <a class="nav-link dropdown-toggle" id="navbarDropdown3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
                            <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                                <li><a class="dropdown-item" href="/Usuario/Index">Administración Usuarios</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li> @Html.ActionLink("Cerrar sesión", "Logout", "Account", null, new { @class = "dropdown-item", style = "color: black;" })</li>
                               
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="contenido">
        <div class="cuerpo">
            <img src="~/Content/img/logo.png" alt="Logo" class="logo">

        </div>
        <!-- Contenido de tu tabla -->
        @RenderBody()



    </div>

    <div>
        <!-- Otras partes del pie de página aquí -->


    </div>


    <footer id="Footer" class="clearfix">
        <div class="contenido-footer">
            <div class="row">
                <div class="col-md-4">
                    <img class="footer_logo" src="https://www.cmanzano.cl/wp-content/uploads/2022/02/footer-02.png" alt="Footer Logo">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/empresaspaumar"><img src="https://www.cmanzano.cl/wp-content/uploads/2022/02/fb-icon.png" alt="Facebook"></a>
                        <a href="https://instagram.com/empresaspaumar"><img src="https://www.cmanzano.cl/wp-content/uploads/2022/02/instagram-icon.png" alt="Instagram"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <strong>Constructora Manzano y Asociados Ltda.</strong>
                        <br> <br>
                        <p><i class="fa fa-map-marker" style="color:#f36f21;"></i> Av. Las Margaritas 1925, San Pedro de la Paz.</p>
                        <p><i class="fa fa-phone" style="color:#f36f21;"></i> 41 244 4000</p>
                        <p><i class="fa fa-envelope" style="color:#f36f21;"></i> contacto@cmanzano.cl</p>
                    </div>
                </div>
                <div class="col-md-4 espaciado-columnas">
                    <div class="widget">
                        <strong>Inmobiliaria Paumar</strong>
                        <br> <br>
                        <p><i class="fa fa-map-marker" style="color:#f36f21;"></i> Av. Las Margaritas 1925, San Pedro de la Paz.</p>
                        <p><i class="fa fa-phone" style="color:#f36f21;"></i> +56 9 6208 7187</p>
                        <p><i class="fa fa-globe" style="color:#f36f21;"></i> www.paumar.cl</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/menu.js"></script>
    <script src="~/Content/js/CRUD.js"></script>
    @RenderSection("js", required: false)
</body>
</html>