@model IEnumerable<Proyecto_Cartilla_Autocontrol.Models.DETALLE_CARTILLA>

@{
    ViewBag.Title = "Index";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/CRUD.css">

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2> <b>Cartillas de Autocontrol</b></h2>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div>
                <table id="cartillaTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="white-space: nowrap;"> ID de Cartilla</th>
                            <th> Fecha</th>
                            <th style="white-space: nowrap;"> Código Actividad</th>
                            <th style="white-space: nowrap;"> Obra</th>
                            <th> Estado (Abierto/Cerrado) </th>
                            <th colspan="3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>


                        @if (Model.Any())
                        {
                            int currentActivityId = -1; // Variable para llevar el seguimiento de la actividad actual

                            foreach (var item in Model)
                            {
                                if (item.CARTILLA.ACTIVIDAD.actividad_id != currentActivityId)
                                {
                                    // Iniciar una nueva fila para la actividad
                                    <tr>
                                        <td>@item.CARTILLA.cartilla_id</td>
                                        <td>@item.CARTILLA.fecha.ToString("dd-MM-yyyy")</td>
                                        <td>@item.CARTILLA.ACTIVIDAD.codigo_actividad</td>
                                        <td>@item.CARTILLA.OBRA.nombre_obra</td>
                                        <td>@item.CARTILLA.ACTIVIDAD.estado</td>
                                        <td>
                                            <!-- Opciones de edición/ver para la actividad -->
                                            <a href="#" class="VerCartilla" data-url="@Url.Action("VerCartilla", new { id = item.CARTILLA.ACTIVIDAD_actividad_id })">
                                                <i class="material-icons" data-toggle="tooltip" title="Ver Cartilla">&#xE417;</i>
                                                <span style="display: none;">VerCartilla</span>
                                            </a>

                                            <a href="#" class="VerCartilla" data-url="@Url.Action("GeneratePDF", new { id = item.CARTILLA.ACTIVIDAD_actividad_id })">
                                                <i class="material-icons" data-toggle="tooltip" title="Descargar Cartilla">&#xE2C4;</i>
                                                <span style="display: none;">VerCartilla</span>
                                            </a>




                                        </td>
                                    </tr>
                                    currentActivityId = item.CARTILLA.ACTIVIDAD.actividad_id; // Actualizar la actividad actual
                                }

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".VerCartilla").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>



}

else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}

