@model IEnumerable<Proyecto_Cartilla_Autocontrol.Models.LOTE_INMUEBLE>

@{
    ViewBag.Title = "Index";
    var obraSeleccionada = ViewBag.ObraSeleccionado as Proyecto_Cartilla_Autocontrol.Models.OBRA;
    var cartillaId = ViewBag.CartillaId; // Obtener CartillaId del ViewBag
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/CRUD.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Lista de Lotes de Inmueble de la Obra: <b>@obraSeleccionada.nombre_obra</b> y Cartilla ID: <b> @cartillaId</b> de la Actividad  <b>@ViewBag.NombreActividad</b> </h2>
                       
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("ListaCartillasPorActividad", "CartillasAutocontrol")" class="btn btn-success">
                                <i class="material-icons">arrow_back</i>
                                Volver
                            </a>
                        </div>
                    </div>
                </div>
                <table id="cartillaTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tipo de Bloque</th>
                            <th>Abreviatura</th>
                            <th>Rango Inicial</th>
                            <th>Rango Final</th>
                            <th>Cantidad de Pisos</th>
                            <th>Cantidad de Inmuebles</th>
                            <th>Descargar Cartilla</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            bool tieneDetalleCartilla = ViewBag.LoteStatus.ContainsKey(item.lote_id) && ViewBag.LoteStatus[item.lote_id];
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.tipo_bloque)</td>
                                <td>@Html.DisplayFor(modelItem => item.abreviatura)</td>
                                <td> @(item.rango_inicial.HasValue ? Convert.ToInt32(Math.Floor(item.rango_inicial.Value)) : 0) </td>
                                <td> @(item.rango_final.HasValue ? Convert.ToInt32(Math.Floor(item.rango_final.Value)) : 0) </td>
                                <td> @(item.cantidad_pisos.HasValue ? Convert.ToInt32(Math.Floor(item.cantidad_pisos.Value)) : 0) </td>
                                <td> @Convert.ToInt32(Math.Floor(item.cantidad_inmuebles)) </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="material-icons" data-toggle="tooltip" title="Descargar Cartilla">&#xE2C4;</i>
                                            <span style="display: none;">Descargar</span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("GenerarPdfPorLote", new { cartilla_id = @cartillaId, lote_id =  item.lote_id})">
                                                    Descargar Cartilla Formato Cartilla
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("GenerarPdfPorLote2", new { cartilla_id = @cartillaId, lote_id =  item.lote_id})">
                                                    Descargar Cartilla Formato Serviu
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault();
                var url = $(this).data("url");
                window.location.href = url;
            });

            $(".delete").click(function (e) {
                e.preventDefault();
                var url = $(this).data("url");
                window.location.href = url;
            });

            $('#cartillaTable').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

            // Script para manejar la expiración de la sesión
            setTimeout(function () {
                window.location.href = '@Url.Action("Login", "Account")';
            }, 43200000); // 12 horas en milisegundos
        });
    </script>
}
else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Iniciar sesión</a>
    </div>
}
