@model IEnumerable<Proyecto_Cartilla_Autocontrol.Models.INMUEBLE>

@{
    ViewBag.Title = "Inmuebles";
    var obraSeleccionada = ViewBag.ObraSeleccionado as Proyecto_Cartilla_Autocontrol.Models.OBRA;
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Consulta")
{
    Layout = "~/Views/Shared/_Layout_Consulta.cshtml";
}
else if (Session["Perfil"] != null && Session["Perfil"].ToString() == "OTEC")
{
    Layout = "~/Views/Shared/_Layout_OTEC.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && (Session["Perfil"].ToString() == "Consulta" || Session["Perfil"].ToString() == "OTEC"))
{

    <link rel="stylesheet" href="~/Content/css/CRUD.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">


    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Lista Inmuebles de la Obra: <b> @obraSeleccionada.nombre_obra </b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("InmuebleLista", "VistaConsulta")" class="btn btn-success">
                                <i class="material-icons">arrow_back</i>
                                Volver
                            </a>

                        </div>

                    </div>
                </div>
                <table id="cartillaTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Código Inmueble </th>
                            <th> Tipo Inmueble </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td> @Html.DisplayFor(modelItem => item.codigo_inmueble)</td>
                                <td> @Html.DisplayFor(modelItem => item.tipo_inmueble) </td>
                              
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#cartillaTable').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>

}

else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}