@model Proyecto_Cartilla_Autocontrol.Models.DETALLE_CARTILLA

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>DETALLE_CARTILLA</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.estado_autocontrol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estado_autocontrol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estado_ito)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estado_ito)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estado_supv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estado_supv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha_rev)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_rev)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha_fto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_fto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha_supv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_supv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha_autocontrol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_autocontrol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rut_spv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rut_spv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.correo_enviado_ac)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.correo_enviado_ac)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.correo_enviado_supv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.correo_enviado_supv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.revision_dos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.revision_dos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CARTILLA.observaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CARTILLA.observaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INMUEBLE.tipo_inmueble)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INMUEBLE.tipo_inmueble)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ITEM_VERIF.elemento_verificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ITEM_VERIF.elemento_verificacion)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
