@model Proyecto_Cartilla_Autocontrol.Models.CARTILLA


@{
    ViewBag.Title = "Eliminar Cartilla";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="~/Content/css/delete.css">

    <div class="container-delete">
        <div class="form-container-delete">
            <h2> Eliminar Cartilla </h2>
            <h3>¿Estás seguro que quieres eliminar esta Cartilla?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Fecha de creación:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fecha)
                    </dd>

                    <dt>
                        Actividad Asociada:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ACTIVIDAD.nombre_actividad)
                    </dd>

                    <dt>
                        Obra Asociada:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OBRA.nombre_obra)
                    </dd>
                    <dt>
                        Estado Final Cartilla:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ESTADO_FINAL.descripcion)
                    </dd>
                </dl>


                @using (Html.BeginForm("EliminarCartilla", "Cartilla", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-sm btn-custom-link" }) |
                    <input type="submit" value="Eliminar" class="btn btn-sm btn-primary-custom" />
                    <input type="hidden" name="id" value="@Model.cartilla_id" />
                </div>
                }
            </div>
        </div>
    </div>

}

else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}
