@model IEnumerable<Proyecto_Cartilla_Autocontrol.Models.CARTILLA>

@{
    ViewBag.Title = "Index";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{

    <link rel="stylesheet" href="~/Content/css/CRUD.css">


    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Gestión de <b>Cartilla</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("CrearCartilla")" class="btn btn-success">
                                <i class="material-icons">&#xE147;</i>
                                Crear Nueva Cartilla
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Cartilla ID </th>
                            <th> Fecha </th>
                            <th> Observaciones </th>
                            <th> Obra </th>
                            <th> Código Actividad </th>
                            <th> Estado Final </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>  @Html.DisplayFor(modelItem => item.cartilla_id) </td>
                                <td>  @item.fecha.ToString("dd-MM-yyyy") </td>
                                @if (item.observaciones != null)
                                {
                                    <td>  @Html.DisplayFor(modelItem => item.observaciones) </td>

                                }
                                else
                                {
                                    <td> No hay Observaciones </td>
                                }

                                <td>  @Html.DisplayFor(modelItem => item.OBRA.nombre_obra)</td>
                                <td>  @Html.DisplayFor(modelItem => item.ACTIVIDAD.codigo_actividad)</td>
                                <td>  @Html.DisplayFor(modelItem => item.ESTADO_FINAL.descripcion)</td>
                                <td>
                                    <!-- Enlace "Edit" dentro de un botón -->


                                    <a href="#" class="edit" data-url="@Url.Action( "EditarCartilla", "Test", new { id = item.cartilla_id })">
                                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                        <span style="display: none;">Edit</span>
                                    </a>

                                    <a href="#" class="delete" id="delete" data-toggle="modal" data-url="@Url.Action("Delete", new { id = item.cartilla_id })">
                                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

}

else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}


