@model Proyecto_Cartilla_Autocontrol.Models.DETALLE_CARTILLA

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>DETALLE_CARTILLA</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.detalle_cartilla_id)

    <div class="form-group">
        @Html.LabelFor(model => model.estado_otec, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.estado_otec)
                @Html.ValidationMessageFor(model => model.estado_otec, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.estado_ito, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.estado_ito)
                @Html.ValidationMessageFor(model => model.estado_ito, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ITEM_VERIF_item_verif_id, "ITEM_VERIF_item_verif_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ITEM_VERIF_item_verif_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ITEM_VERIF_item_verif_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CARTILLA_cartilla_id, "CARTILLA_cartilla_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CARTILLA_cartilla_id)
            @Html.ValidationMessageFor(model => model.CARTILLA_cartilla_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CARTILLA.cartilla_id, "CARTILLA_cartilla_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CARTILLA.cartilla_id)
            @Html.ValidationMessageFor(model => model.CARTILLA.cartilla_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.INMUEBLE_inmueble_id, "INMUEBLE_inmueble_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("INMUEBLE_inmueble_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.INMUEBLE_inmueble_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CARTILLA.fecha, "Fecha: ", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.CARTILLA.fecha, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        @Html.ValidationMessageFor(model => model.CARTILLA.fecha, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CARTILLA.observaciones, "Observaciones", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.CARTILLA.observaciones, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CARTILLA.observaciones, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CARTILLA.OBRA_obra_id, "Obra", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.CARTILLA.OBRA_obra_id)
        @Html.ValidationMessageFor(model => model.CARTILLA.OBRA_obra_id, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CARTILLA.ACTIVIDAD_actividad_id, "Actividad", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.CARTILLA.ACTIVIDAD_actividad_id)
        @Html.ValidationMessageFor(model => model.CARTILLA.ACTIVIDAD_actividad_id, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CARTILLA.ESTADO_FINAL_estado_final_id, "Estado Final", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.HiddenFor(model => model.CARTILLA.ESTADO_FINAL_estado_final_id)
        @Html.ValidationMessageFor(model => model.CARTILLA.ESTADO_FINAL_estado_final_id, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
