@model List<Proyecto_Cartilla_Autocontrol.Models.DETALLE_CARTILLA>


@{
    ViewBag.Title = "Index";
}

@if (Session["Perfil"] != null && (Session["Perfil"].ToString() == "OTEC" || Session["Perfil"].ToString() == "Consulta" || Session["Perfil"].ToString() == "ITO"))
{
    Layout = "~/Views/Shared/_LayoutCartilla.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && (Session["Perfil"].ToString() == "OTEC" || Session["Perfil"].ToString() == "Consulta" || Session["Perfil"].ToString() == "ITO"))
{
    <link rel="stylesheet" href="~/Content/css/cartillaPDF.css">


    <div class="encabezado">
        <img src="~/Content/img/logo2.png" alt="Logo" class="encabezado-imagen">
        <h1 class="encabezado-titulo">CARTILLA DE CONTROL VIVIENDA </h1>
    </div>

    <div class="rectangulo">
        <p><strong>Actividad: </strong> @Model[0].CARTILLA.ACTIVIDAD.nombre_actividad - @Model[0].CARTILLA.ACTIVIDAD.codigo_actividad </p>
        <p><strong>Responsable de Revisión:</strong></p>
        <div class="linea-vertical"></div>
        <div class="fecha-firma">

            <p><strong>Fecha:</strong>  @Model[0].CARTILLA.fecha.ToString("dd-MM-yyyy")</p>
            <p><strong>Estado: </strong>@Model[0].CARTILLA.ESTADO_FINAL.descripcion </p>
        </div>
    </div>

    <section>

        <!-- Información general -->
        <p><strong>OBRA:</strong> @Model[0].CARTILLA.OBRA.nombre_obra</p>
        <p><strong>DIRECCIÓN:</strong> @Model[0].CARTILLA.OBRA.direccion</p>
        <p><strong>COMUNA:</strong> @Model[0].CARTILLA.OBRA.COMUNA.nombre_comuna</p>

        @foreach (var item in ViewBag.Responsables)
        {
            if (item.cargo == "Contratista")
            {
                <p><strong>CONTRATISTA: </strong> @item.PERSONA.nombre @item.PERSONA.apeliido_paterno @item.PERSONA.apellido_materno</p>
            }

            if (item.cargo == "EGIS")
            {
                <p><strong>EGIS: </strong>  @item.PERSONA.nombre @item.PERSONA.apeliido_paterno @item.PERSONA.apellido_materno</p>
            }

            if (item.cargo == "Director")
            {
                <p><strong>DIRECTOR DE OBRA: </strong>  @item.PERSONA.nombre @item.PERSONA.apeliido_paterno @item.PERSONA.apellido_materno</p>
            }

            if (item.cargo == "Autocontrol")
            {
                <p><strong>AUTOCONTROL: </strong>  @item.PERSONA.nombre @item.PERSONA.apeliido_paterno  @item.PERSONA.apellido_materno</p>
            }

            if (item.cargo == "Supervisor")
            {
                <p><strong>SUPERVISOR: </strong>  @item.PERSONA.nombre @item.PERSONA.apeliido_paterno @item.PERSONA.apellido_materno</p>
            }

            if (item.cargo == "F.T.O")
            {
                <p><strong>F.T.O: </strong>  @item.PERSONA.nombre @item.PERSONA.apeliido_paterno   @item.PERSONA.apellido_materno</p>
            }

        }
    </section>


    <table class="lista-table">
        <colgroup>
            <col span="2">
        </colgroup>
        @{
            var groupedByInmueble = Model.GroupBy(x => x.INMUEBLE_inmueble_id);
        }
        <tr>
            <th></th>
            <th> </th>
            @foreach (var inmuebleGroup in groupedByInmueble)
            {
                var codigoInmueble = inmuebleGroup.First().INMUEBLE.codigo_inmueble;
                <th colspan="2" style="max-width: 2%; white-space: nowrap;">N ° VIV: @Html.DisplayFor(modelItem => codigoInmueble) </th>
            }
        </tr>
        <tr>
            <th> N° </th>
            <th style="width: 28%;">Elementos de Verificación</th>
            @foreach (var inmuebleGroup in groupedByInmueble)
            {
                <th>ITO</th>
                <th>OTEC</th>

            }
        </tr>
        @{
            var labels = Model.Select(x => x.ITEM_VERIF.elemento_verificacion).Distinct().ToList();
            var abc = Model.Select(x => x.ITEM_VERIF.label).Distinct().ToList();

        }
        @foreach (var label in labels)
        {
            <tr>
                <th>@abc[labels.IndexOf(label)]</th>
                <th>@label</th>
                @foreach (var inmuebleGroup in groupedByInmueble)
                {
                    var detalles = inmuebleGroup.Where(x => x.ITEM_VERIF.elemento_verificacion == label).ToList();
                    if (detalles.Any())
                    {
                        <td>
                            @if (detalles.First().estado_ito)
                            {
                                <i style="color:green;" class="material-icons" data-toggle="tooltip" title="VB ITO: Aprobado">&#xE876;</i>
                                <span style="display: none;">Sí</span>
                            }
                            else
                            {
                                <i style="color:maroon;" class="material-icons" data-toggle="tooltip" title="VB ITO: Rechazado">&#xE5CD;</i>
                                <span style="display: none;">No</span>
                            }
                        </td>

                        <td>
                            @if (detalles.First().estado_otec)
                            {
                                <i style="color:green;" class="material-icons" data-toggle="tooltip" title="VB OTEC: Aprobado">&#xE876;</i>
                                <span style="display: none;">Sí</span>
                            }
                            else
                            {
                                <i style="color:maroon;" class="material-icons" data-toggle="tooltip" title="VB OTEC: Rechazado">&#xE5CD;</i>
                                <span style="display: none;">No</span>
                            }
                        </td>

                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                }
            </tr>
        }
    </table>



    <div class="observaciones">
        <div class="cuadro-observaciones">
            @if (@Model[0].CARTILLA.observaciones != null)
            {
                <label for="observaciones"> <strong>Observaciones: </strong>  @Model[0].CARTILLA.observaciones </label>
            }
            else
            {
                <label for="observaciones"> <strong>Observaciones: </strong>  No hay Observaciones en esta Cartilla de Autocontrol </label>
            }
        </div>
    </div>

    <table class="firmas-table">
        @foreach (var item in ViewBag.FirmasAutomatizadas)
        {
            <tr>
                @if (item.cargo == "Director")
                {
                    <td class="firma">
                        <!-- Contenido de la firma 1 -->
                        <div class="linea"></div>
                        <p><strong> @item.PERSONA.nombre  @item.PERSONA.apeliido_paterno  @item.PERSONA.apellido_materno </strong></p>
                        <p>Administrador de Obra</p>
                        <p>Constructora Manzano y Asoc.Ltda</p>
                    </td>
                }
                @if (item.cargo == "Autocontrol")
                {

                    <td class="firma">
                        <!-- Contenido de la firma 2 -->
                        <div class="linea"></div>
                        <p><strong> @item.PERSONA.nombre  @item.PERSONA.apeliido_paterno  @item.PERSONA.apellido_materno </strong></p>
                        <p>Autocontrol de Obra</p>
                        <p>Constructora Manzano y Asoc.Ltda</p>
                    </td>
                }
                @if (item.cargo == "I.T.O")
                {
                    <td class="firma">
                        <!-- Contenido de la firma 3 -->
                        <div class="linea"></div>
                        <p><strong> @item.PERSONA.nombre  @item.PERSONA.apeliido_paterno  @item.PERSONA.apellido_materno </strong></p>
                        <p>ITO Serviu</p>
                        <p>Serviu Región del Biobío</p>
                    </td>
                }
                @if (item.cargo == "Supervisor")
                {
                    <td class="firma">
                        <!-- Contenido de la firma 4 -->
                        <div class="linea"></div>
                        <p><strong> @item.PERSONA.nombre  @item.PERSONA.apeliido_paterno  @item.PERSONA.apellido_materno </strong></p>
                        <p>Supervisor Serviu</p>
                        <p>Serviu Región del Biobío</p>
                    </td>
                }
                </tr>
        }
        </table>
}
else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Vista protegida. </h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}

