@model Proyecto_Cartilla_Autocontrol.Models.ITEM_VERIF

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ITEM_VERIF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.elemento_verificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.elemento_verificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVIDAD.codigo_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVIDAD.codigo_actividad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.item_verif_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
