@model Proyecto_Cartilla_Autocontrol.Models.ITEM_VERIF

@{
    ViewBag.Title = "Editar";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/CRUD_create_edit.css">

    using (Html.BeginForm())
    {


        <div class="container-formularios">
            <div class="form-container">
                <h2>Editar Item de Verificación</h2>
                <form>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.item_verif_id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.label, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.label, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.label, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.elemento_verificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.elemento_verificacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.elemento_verificacion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ACTIVIDAD_actividad_id, "ACTIVIDAD_actividad_id", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownList("ACTIVIDAD_actividad_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ACTIVIDAD_actividad_id, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary-custom" />
                    </div>
                    <div>
                        <a href="@Url.Action("Index")" class="btn-custom">Volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

}


else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}








