@model IEnumerable<Proyecto_Cartilla_Autocontrol.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

@if (Session["Perfil"] != null && Session["Perfil"].ToString() == "Administrador")
{

    <link rel="stylesheet" href="~/Content/css/CRUD.css">
    <link rel="stylesheet" href="~/Content/css/boton.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">



    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Gestión de <b>Usuarios</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("Create")" class="btn btn-success">
                                <i class="material-icons">&#xE147;</i>
                                Crear Nuevo Usuario
                            </a>
                        </div>
                    </div>
                </div>
                <table id="cartillaTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Persona Asociada </th>
                            <th> Correo </th>
                            <th> Tipo Perfil </th>
                            <th> Estado Usuario </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>  @Html.DisplayFor(modelItem => item.PERSONA.nombre)  @Html.DisplayFor(modelItem => item.PERSONA.apeliido_paterno)  @Html.DisplayFor(modelItem => item.PERSONA.apellido_materno)</td>
                                <td>  @Html.DisplayFor(modelItem => item.PERSONA.correo) </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PERFIL.rol)

                                </td>

                                @if (item.PERFIL.perfil_id == 1)
                                {
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" class="estado-usuario-toggle" checked disabled title="No puedes bloquear un usuario administrador" />
                                            <span class="slider round"></span>
                                        </label>
                                    </td>


                                }
                                else
                                {
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" class="estado-usuario-toggle" data-id="@item.usuario_id"
                                                   @(item.estado_usuario ? "checked" : "")>
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                }




                                <td>
                                    <!-- Enlace "Edit" dentro de un botón -->


                                    <a href="#" class="edit" data-url="@Url.Action("Edit", new { id = item.usuario_id })">
                                        <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                                        <span style="display: none;">Edit</span>
                                    </a>

                                    @if (item.PERFIL.perfil_id == 1 && item.estado_usuario == true)
                                    {
                                        <a href="#" class="delete" id="delete" data-toggle="modal" data-url="#">
                                            <i class="material-icons" data-toggle="tooltip" title="No puedes eliminar el perfil de Administrador" style="color: grey;">&#xE872;</i>
                                        </a>

                                    }
                                    else if (item.estado_usuario == true)
                                    {
                                        <a href="#" class="delete" id="delete" data-toggle="modal" data-url="#">
                                            <i class="material-icons" data-toggle="tooltip" title="No puedes eliminar un Usuario de Estado Activo" style="color: grey;">&#xE872;</i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="delete" id="delete" data-toggle="modal" data-url="@Url.Action("Delete", new { id = item.usuario_id })">
                                            <i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready(function () {
            $(".edit").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete").click(function (e) {
                e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                var url = $(this).data("url"); // Obtener la URL de data-url

                // Redirigir a la vista "Edit"
                window.location.href = url;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#cartillaTable').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
    <script>
$(document).ready(function () {
    // Función que maneja el evento change
    function handleCheckboxChange() {
        var $checkbox = $(this);
        var isChecked = $checkbox.prop('checked');
        var usuarioId = $checkbox.data('id');
        var newState = isChecked ? 1 : 0;
        var confirmMessage = isChecked ? "¿Deseas activar este usuario?" : "¿Deseas desactivar este usuario?";

        // Deshabilitar temporalmente el manejador de eventos
        $checkbox.off('change', handleCheckboxChange);

        if (confirm(confirmMessage)) {
            // Realizar la solicitud AJAX solo si se confirma el cambio
            $.ajax({
                url: '@Url.Action("UpdateEstadoUsuario", "Usuario")',
                type: 'POST',
                data: {
                    usuarioId: usuarioId,
                    estado_usuario: newState
                },
                success: function (response) {
                    // Recargar la página después de un cambio exitoso
                    location.reload();
                },
                error: function () {
                    alert('Hubo un problema al actualizar el estado.');
                    // Revertir el cambio si hay un error en la solicitud
                    $checkbox.prop('checked', !isChecked);
                },
                complete: function () {
                    // Rehabilitar el manejador de eventos
                    $checkbox.on('change', handleCheckboxChange);
                }
            });
        } else {
            // Revertir el cambio sin disparar el evento change nuevamente
            $checkbox.prop('checked', !isChecked);
            // Rehabilitar el manejador de eventos
            $checkbox.on('change', handleCheckboxChange);
        }
    }

    // Asociar el manejador de eventos por primera vez
    $('.estado-usuario-toggle').on('change', handleCheckboxChange);
});
    </script>




    <script>
 // Script para manejar la expiración de la sesión
 setTimeout(function () {
     window.location.href = '@Url.Action("Login", "Account")';
 }, 43200000); // 12 horas en milisegundos
    </script>
}

else
{
    <link rel="stylesheet" href="~/Content/css/AccesoDenegado.css">
    <div id="header">
        <h1> Acceso denegado. Esta vista solo está disponible para Administrador</h1>
        <br />
        <a href="@Url.Action("Login", "Account")" class="btn-acceso">Iniciar Sesión</a>
    </div>
}